header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role='banner',data-0="background-color:red",data-10="background-color:blue")
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only
          //- Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //- a.navbar-brand(href='./') Bootstrap
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      //-
        ul.nav.navbar-nav
          li
            a(href='./getting-started') Getting started
      ul.nav.navbar-nav.navbar-right
        li
          a(href='./about') Suscríbete
        li
          a(href='./about') Síguenos en Facebook
