
  .presenation
    section.video
      #bgVideo.background
      .holder
        .cont
          span.sdf
            strong Startup
            | Design Framework
          a.play(href='https://vimeo.com/designmodo/startup', target='_blank')
            span.fui-play
          span.suys
            strong Suit Up
            | your
            | Startup
          a.arrow(href='#overview')
            span.icn_arrow(aria-hidden='true')
    section#overview.simple-block
      .holder
        h3
          | We have created the product that will help designers, developers
          | and companies to create a website for their startups not spending
          | much time on it.
    section#topSlider-wrapper.features
      ul#topSliderCtrl
        li
          a(data-slide-index='0') First
        li
          a(data-slide-index='1') Second
        li
          a(data-slide-index='2') Third
      ul#topSlider
        li
          section.first
            .holder
              h1 Beautiful Framework
              p
                | A high-quality solution for those who want to change their
                | startup and not waste too much time.
              .item
                img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon1.png')
                h3 Block Model
                p
                  | You can easily combine any components in a variety of
                  | design projects. It’s easy!
              .item
                img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon2.png')
                h3 Many Components
                p
                  | There are a lot of different components that will help you
                  | to make a perfect suit for your startup.
        li
          section.second
            .holder
              h1 Ready to Code
              p
                | Each component is coded for web which will sufficiently
                | fasten the process of creating a website.
              .item
                img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon3.png')
                h3 HTML5, CSS3, LESS
                p
                  | We used checked-out technologies to give the best
                  | results.
              .item
                img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon4.png')
                h3 Based on Bootstrap
                p
                  | HTML layout is based on one of the common and reliable
                  | frameworks at this time - Bootstrap v 2.3.2.
        li
          section.third
            .holder
              h1 Perfect for Startups
              p
                | Startup Framework will help you to find an awesome form for
                | your startup project in a short time.
              .item
                img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon5.png')
                h3 Save Your Time
                p
                  | Use your time for generating new ideas for your startup.
                  | Take a break from the routine.
              .item
                img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon6.png')
                h3 Money Economy
                p
                  | Startups can save money on design and code and spend it on
                  | concept and functionality.
    section.demo
      .holder
        .background
          div
        .cont
          h1
            | Demo Version
            span.forksandstars
              iframe(frameborder='0', scrolling='0', src='http://ghbtns.com/github-btn.html?user=designmodo&repo=startup-demo&type=watch&count=true&size=large', style='width: 90px; height: 30px; border: none;')
                iframe(frameborder='0', scrolling='0', src='http://ghbtns.com/github-btn.html?user=designmodo&repo=startup-demo&type=fork&count=true&size=large', style='width: 100px; height: 30px; border: none;')
          p
            | We have created this demo version in order to show you the
            | structure of Startup Framework. It has some of the components from
            | the full version, 2 great samples and documentation. You can also
            | find 2 images of a Macbook and an iPad, which you can use in your
            | project. We hope you will like your first introduction to Startup
            | Framework.
          a.button(href='http://designmodo.github.io/startup-demo', target='_blank')
            | View
            | Demo on Github
          ul
            li
              h2 What is in this Demo?
              p
                strong 11
                | Components
              p
                strong 2
                | Samples
              p
                strong 2
                | Pictures
            li
              h2 What's in the Full Version?
              p
                strong 100
                | Components
              p
                strong 25
                | Samples
              p
                strong 14
                | Pictures
    section.dof
      .holder
        .cont
          span.text-block(style='-webkit-filter: blur(5px); filter: blur(5px);') Focus on Design
      .background
        .cards.layer1
        .cards.layer2
        .cards.layer3
    section.components
      .details
        .cont
          h1 Many Useful Components
          p
            | Startup Design Framework contains components and complex blocks
            | which can easily be integrated into almost any design. All of these
            | components are made in the same style, and can easily be integrated
            | into projects, allowing you to create hundreds of solutions for
            | your future projects.
      .holder
        ul
          li.first
            h3 Responsive Layout
            p
              | Of course we haven’t forgotten about the responsive layout.
              | Create a website with full mobile support.
          li.second
            h3 Clear Grid
            p
              | Components and blocks fixed to common and popular 12 Grid
              | system. It allows you to find understanding between the designer
              | and developer.
          li.third
            h3 Retina Ready
            p
              | Startup Framework works fine on devices supporting Retina
              | Display. Feel the clarity in each pixel.
        #component-grid.screenshots
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-1.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-2.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-6.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-8.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-3.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-4.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-7.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-5.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-9.png')
    section.samples
      .details
        .cont
          h1 Twenty Five Awesome Samples
          p
            | The most important part of the Startup Framework is the samples.
            | The samples form a set of 25 usable pages you can use as is or you
            | can add new blocks from UI Kit. By choosing one of the 25
            | configurations of the future startup, the process of creation is
            | simple and easy.
      .holder
        ul
          li.first
            h3 Easy to use
            p
              | To get started, you select the desired sample and base the
              | entire website on it. It’s that simple!
          li.second
            h3 Variety of designs
            p
              | You can decide whether to create your site using UI Kit blocks
              | or samples. The blocks can merge together in various
              | combinations.
          li.third
            h3 Feel our design
            p
              | Samples will show you the feeling on how to play around using
              | the components in the website building process.
        #samples-grid.screenshots
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-1.png')
          .screen.double
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-8.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-22.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-23.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-9.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-17.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-2.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-24.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-10.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-3.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-18.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-25.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-11.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-4.png')
          .screen
            | img
            | src="http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-19.png"
            | alt="" />
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-26.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-12.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-5.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-13.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-27.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-20.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-6.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-21.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-14.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-7.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-15.png')
          .screen
            img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-16.png')
    section#lastBlock-wrapper.lastBlock
      ul#lastBlockCtrl
        li.menuicon
          span.icn_menu(aria-hidden='true')
        li
          a(data-slide-index='0') Images
        li
          a(data-slide-index='1') Documentation
        li
          a(data-slide-index='2') Showcase
        li
          a(data-slide-index='3') Information
      ul#lastSlider
        li
          section.moreThanImage
            .holder
              .bg
                .pic1.visible
                .pic2
                .pic3
              .cont
                h1 More Than Image
                p
                  | We prepared some HQ photos that you can use in your
                  | startup projects. When you have to present app or website on
                  | iPhone, iPad or Macbook you can use these images. It’s a
                  | quick solution if you don’t have proper images ready to
                  | use.
                ul
                  li
                    h3 Smart Layers
                    p
                      | Just put the image with your App screen inside Smart
                      | Layer and get the photo.
                  li
                    h3 High Resolution
                    p
                      | We did a 2.5K size photo that will suit even for a
                      | very large site.
                .anthony
                  | Photos for samples are made by
                  a(href='http://photo.repponen.com/', target='_blank')
                    | Anton
                    | Repponen
                  | during his travels around the world. Contact
                  | him to purchase some photos.
        li
          section.doc
            .holder
              .bg
                div
              .cont
                h1 Documentation
                p
                  | Documentation is really important for a developer. Right
                  | from it you get to know the product. We tried to describe all
                  | the components, provide the set-up instructions and foresee
                  | most of the issues you may come across while working with the
                  | framework.
                ul
                  li
                    h3 User Guide
                    p
                      | You’ll get a description of each component and learn
                      | how to connect and use them.
                  li
                    h3
                      | Video Tutorials
                      span.soon Soon
                    p
                      | Video tutorials show you how to make a site from
                      | design to code.
        li
          section.showcase
            .holder
              .bg
                .pic1.visible
                .pic2
              .cont
                h1 Showcase
                p
                  | Two perfect examples of using framework - Crumbs and
                  | Hipsta Food. These guys have a passion for cooking food and
                  | they are really a good deal. We’ll be glad to have a look at
                  | your projects created on Startup Framework and show them to
                  | our users.
                ul
                  li
                    a(href='http://crumbs.am', target='_blank')
                      img(alt='Crumbs', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/bottomSlider/crumbs.png')
                      b
                        strong Crumbs
                        span.svgIcon
                          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', width='16', height='16', viewbox='0 0 32 32')
                            path(d='M30 0h-16c-1.105 0-2 0.894-2 2v16c0 1.105 0.895 2 2 2h16c1.105 0 2-0.895 2-2v-16c0-1.105-0.895-2-2-2zM28 16h-12v-12h12v12zM16 28h-12v-12h4v-4h-6c-1.105 0-2 0.895-2 2v16c0 1.105 0.894 2 2 2h16c1.105 0 2-0.895 2-2v-6h-4v4z', fill='#eaeaea')
                      span
                        | Fresh food, delicious desserts, artisan breads and
                        | cozy atmosphere. All at one place.
                  li
                    a(href='http://hipstafood.com/', target='_blank')
                      img(alt='Hipstafood', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/bottomSlider/hipstafood.png')
                      b
                        strong Hipstafood
                        span.svgIcon
                          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', width='16', height='16', viewbox='0 0 32 32')
                            path(d='M30 0h-16c-1.105 0-2 0.894-2 2v16c0 1.105 0.895 2 2 2h16c1.105 0 2-0.895 2-2v-16c0-1.105-0.895-2-2-2zM28 16h-12v-12h12v12zM16 28h-12v-12h4v-4h-6c-1.105 0-2 0.895-2 2v16c0 1.105 0.894 2 2 2h16c1.105 0 2-0.895 2-2v-6h-4v4z', fill='#eaeaea')
                      span
                        | Handy
                        | iPhone App preparing for the launch will show you recipes
                        | and teach you to cook.
        li
          section.info
            .holder
              #subMenuWrapper
                .submenu
                  div
                  ul#subMenuCtrl
                    li
                      span.selected
                        | Technical
                        | Information
                    li
                      span Press Release
                    li.faq-u
                      span F.A.Q.
                ul#subMenu
                  li.active
                    .cont
                      h1 Technical Information
                      p
                        | We will be glad to solve your questions. We want to
                        | make our product better and very soon we will release
                        | some cool updates for you.
                      div
                        a.ask(href='https://github.com/designmodo/startup-support/issues', target='_blank') Ask a Question
                      dl.tech-info
                        dt Release Date
                        dd.clearfix December 16, 2013
                        dt Format
                        dd.clearfix PSD, HTML, CSS, JS, LESS
                        dt Size
                        dd.clearfix 637 MB, Zip
                        dt Consists
                        dd.clearfix
                          | Components
                          br
                          | 25 Samples
                          br
                          | Photos
                        dt Bootstrap Version
                        dd.clearfix 2.3.2
                        dt License
                        dd.clearfix
                          a(href='http://designmodo.com/startup-license', target='_blank') Commercial License
                        dt Updates
                        dd.clearfix Free
                  li
                    .cont
                      h1 Press Release
                      p
                        | In case you’ve decided to write about our project on
                        | your blog you can use this press release. Here you can
                        | find all necessary information about Startup Framework:
                        | project description, images that you can use while
                        | writing articles, and also banners and information
                        | about our affiliate program.
                      p
                        a(href='http://designmodo.com/startup-press-release', target='_blank') Open Press Release
                      div
                        a.ask(href='mailto:info@designmodo.com?subject=Hello!')
                          | Contact
                          | Us
                  li
                    .cont.faqiframe
                      h1 F.A.Q.
                      object(data='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/faq.html', type='text/html', width='100%')
    section.purchase
      .holder
        h1 Get Startup Framework
        a.button(href='/startup/?add-to-cart=109981') Purchase for $249
        span
          | PSD + HTML
          b Full Version
          strong
            a(href='http://designmodo.com/startup-license', target='_blank')
              | Commercial
              | License
    section.social
      .holder
  //
     COMMENTS CONTAINER START HERE 
  div(style='clear: both;')
  #content-wrapper
    div(style='clear: both;')
    .articles-container(style='display: none;')
      div
        div(style='clear: both;')
      //
        end article-single
      div(style='clear: both;')
      .comments-wrapper
        h1.startup-comments-title
          | Discussion
          span
            a(href='#respond') Leave a comment
      //
        end articles container
      div(style='clear: both;')
    //
      end content-wrapper
  //
     end main-wrapper 
  #footer-wrapper
    .menu-footer-container
      ul#menu-footer-menu.page-menu-wrapper-footer
        li#menu-item-89205.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89205
          a(href='http://designmodo.com/privacy-statement/') Privacy
        li#menu-item-89206.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89206
          a(href='http://designmodo.com/terms-and-conditions/') Terms
        li#menu-item-89204.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89204
          a(href='http://designmodo.com/advertise/') Advertise
        li#menu-item-89605.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89605
          a(href='http://designmodo.com/affiliates/') Affiliates
        li#menu-item-98791.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-98791
          a(href='http://designmodo.com/subscribe/') Newsletter
        li#menu-item-89207.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89207
          a(href='http://designmodo.com/about/') About
        li#menu-item-102718.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-102718
          a(href='http://journal.designmodo.com/') Journal
        li#menu-item-89209.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89209
          a(href='http://designmodo.com/contact-us/') Contact Us
    ul#footer-container-right
      li.copyright
        | Copyright © 2013
        a.on(href='http://designmodo.com/', title='DesignModo') Designmodo
        | . All Rights
        | Reserved.
      li.copyright
        div
          a(href='http://www.dmca.com/Protection/Status.aspx?ID=e4da61dc-6d57-4588-a701-a53419f71fa6', title='DMCA') DMCA Protected
          | •
          a(href='http://www.mediatemple.net/', target='_blank', title='MediaTemple') Hosted by MediaTemple