#footer-wrapper
  .menu-footer-container
    ul#menu-footer-menu.page-menu-wrapper-footer
      li#menu-item-89205.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89205
        a(href='http://designmodo.com/privacy-statement/') Privacy
      li#menu-item-89206.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89206
        a(href='http://designmodo.com/terms-and-conditions/') Terms
      li#menu-item-89204.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89204
        a(href='http://designmodo.com/advertise/') Advertise
      li#menu-item-89605.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89605
        a(href='http://designmodo.com/affiliates/') Affiliates
      li#menu-item-98791.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-98791
        a(href='http://designmodo.com/subscribe/') Newsletter
      li#menu-item-89207.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89207
        a(href='http://designmodo.com/about/') About
      li#menu-item-102718.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-102718
        a(href='http://journal.designmodo.com/') Journal
      li#menu-item-89209.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89209
        a(href='http://designmodo.com/contact-us/') Contact Us
  ul#footer-container-right
    li.copyright
      | Copyright © 2013
      a.on(href='http://designmodo.com/', title='DesignModo') Designmodo
      | . All Rights
      | Reserved.
    li.copyright
      div
        a(href='http://www.dmca.com/Protection/Status.aspx?ID=e4da61dc-6d57-4588-a701-a53419f71fa6', title='DMCA') DMCA Protected
        | •
        a(href='http://www.mediatemple.net/', target='_blank', title='MediaTemple') Hosted by MediaTemple