#footer-wrapper
  .menu-footer-container
    ul#menu-footer-menu.page-menu-wrapper-footer
      li#menu-item-89205.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89205
        a(href='http://sexy-english.com/privacidad.pdf') Privacidad y condiciones
      li#menu-item-98791.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-98791
        a.show-suscribe(href='#') Newsletter
      li#menu-item-89209.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89209
        a(href='mailto:hello@sexy-english.com') Contacto
  ul#footer-container-right
    li.copyright
      | Copyright ©2013 
      a.on(href='http://sexy-english.com/', title='Sexy English') Sexy English
      | . Todos los derechos reservados.

audio(autoplay="autoplay")
   source(src="custom-pages/sexyenglish/common-files/media/sexy.mp3")
   source(src="custom-pages/sexyenglish/common-files/media/sexy.ogg")
