meta(charset='UTF-8')
meta(content='yes', name='apple-mobile-web-app-capable')
meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
meta(content='black', name='apple-mobile-web-app-status-bar-style')
link(href='images/mobile.png', rel='apple-touch-icon-precomposed')
link(href='images/favicon.ico', rel='shortcut icon')
title Sexy English | Learn English... Be Sexy!
meta(content='Sexy English es un innovador método de aprendizaje con el que aprenderás inglés, te divertirás y comprobarás tus avances.', name='description')
link(href='http://sexy-english.com/', rel='canonical')
link(href='https://www.google.com/+BueninventoEs', rel='publisher')
meta(property='og:locale', content='es_ES')
meta(property='og:type', content='article')
meta(property='og:title', content='Sexy English - Learn English... Be Sexy!')
meta(property='og:description', content='Si quieres aprender y mejorar tu inglés, Sexy English es un innovador método de aprendizaje con el que aprenderás, te divertirás y comprobarás tus avances.')
meta(property='og:url', content='http://sexy-english.com/')
meta(property='og:site_name', content='Sexy English')
meta(property='article:publisher', content='https://www.facebook.com/sexyenglishlearning')
meta(property='article:tag', content='english learning')
meta(property='article:published_time', content='2013-12-23T14:01:06+00:00')
meta(property='article:modified_time', content='2013-12-23T14:01:46+00:00')

//-
   meta(property='fb:app_id', content='368289576549864')

meta(property='og:image', content='http://sexy-english.com/images/portada.jpg')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@sexyenglishlearning')
meta(name='twitter:domain', content='Sexy English')
meta(name='twitter:creator', content='@bueninvento')
