//-
  link#sffotckCSS-css(rel='stylesheet', href='http://designmodo.com/wp-content/plugins/subscribe_to_unlock/css/sffotck2.css?ver=3.8', type='text/css', media='all')
  link#dm_fonts-css(href='http://fonts.googleapis.com/css?family=Open+Sans|Varela+Round|Montserrat:400,700', media='all', rel='stylesheet', type='text/css')

link#dm_style-css(href='style.css', media='all', rel='stylesheet', type='text/css')
link#dm_shop_startup_bxslider-css(rel='stylesheet', href='custom-pages/sexyenglish/presentation/bxslider/jquery.bxslider.css', type='text/css', media='all')
link#dm_shop_startup_icon_fonts-css(href='custom-pages/sexyenglish/common-files/css/icon-font.css', media='all', rel='stylesheet', type='text/css')
link#dm_shop_startup_style-css(href='custom-pages/sexyenglish/presentation/css/all.css', media='all', rel='stylesheet', type='text/css')
link#font-awesome(href='custom-pages/sexyenglish/common-files/css/font-awesome.css', media='all', rel='stylesheet', type='text/css')
link#sexy_style-css(href='css/app.css', media='all', rel='stylesheet', type='text/css')

//-
  link#affiliates-css(href='http://designmodo.com/wp-content/plugins/affiliates-pro/css/affiliates.css?ver=2.4.4', media='all', rel='stylesheet', type='text/css')

script(src='js/jquery/jquery.js?ver=1.10.2', type='text/javascript')
script(src='js/jquery/jquery-migrate.min.js?ver=1.2.1', type='text/javascript')
script(src='js/mobile-nav.js?ver=1.0', type='text/javascript')
script(src='js/modernizr.custom.79881.js', type='text/javascript')
script(src='js/common.js?t=1387781093', type='text/javascript')

//-
  script(src='http://designmodo.com/wp-includes/js/comment-reply.min.js?ver=3.8', type='text/javascript')
  script(src='https://use.typekit.net/wwv4ffe.js', type='text/javascript')

script(src='js/jquery/jquery-1.8.3.min.js', type='text/javascript')
//- script(src='js/modal.js', type='text/javascript')
script(src='custom-pages/sexyenglish/presentation/js/jquery.backgroundvideo.min.js', type='text/javascript')
script(src='custom-pages/sexyenglish/presentation/js/all.js', type='text/javascript')
script(src='custom-pages/sexyenglish/presentation/bxslider/jquery.bxslider.min.js', type='text/javascript')
script(src='custom-pages/sexyenglish/presentation/js/masonry.pkgd.min.js', type='text/javascript')
script(src='custom-pages/sexyenglish/presentation/js/polyfill.requestAnimationFrame.js', type='text/javascript')
script(src='custom-pages/sexyenglish/presentation/js/jquery.sharrre.min.js', type='text/javascript')

//-
  style#syntaxhighlighteranchor
  script
      var fb_param = {};
      fb_param.pixel_id = '6008491092813';
      fb_param.value = '0.00';
      fb_param.currency = 'USD';
      (function() {
      var fpw = document.createElement('script');
      fpw.async = true;
      fpw.src = '//connect.facebook.net/en_US/fp.js';
      var ref = document.getElementsByTagName('script')[0];
      ref.parentNode.insertBefore(fpw, ref);
      })();

