!!! 5
html(lang="es")
  head
    - include 'views/head-meta.phtml'
    - include 'views/head-statics.phtml'
  body
    .presenation
      - include 'views/topbar.phtml'
      
      - include 'views/section-video.phtml'
      - include 'views/section-overview.phtml'
      - include 'views/section-topSlider.phtml'
      - include 'views/section-demo.phtml'
      - include 'views/section-focus.phtml'
      //-
        - include 'views/section-components.phtml'
      - include 'views/section-samples.phtml'
      //-
        - include 'views/section-lastBlock.phtml'
      - include 'views/section-purchase.phtml'
      - include 'views/section-social.phtml'
    - include 'views/section-comments.phtml'
    
    - include 'views/suscribe.phtml'
    
    - include 'views/footer.phtml'
