section#overview.simple-block
  .holder
    h3
      | La sensualidad, la sexualidad, las relaciones humanas, el autoconocimiento, la diversión. Todo aquello que te complace está lleno de riquezas a explorar ¿Por qué no hacerlo en inglés?