section#overview.simple-block
  .holder
    h1 Hemos inventado
    p.iconos
      i.fa.fa-2x.fa-pencil
      i.fa.fa-2x.fa-tablet
      i.fa.fa-2x.fa-rocket
      i.fa.fa-2x.fa-heart-o
    p orem ipsum dolor sit amet consequetur adispicit eot ipsum dolor sit amet conse, orem ipsum dolor sit amet consequetur adispicit eot ipsum dolor sit amet conse. Vorem ipsum dolor sit amet consequetur adispicit eot ipsum dolor sit amet conse.
    .clear-both
  img.ipad-fondo(src="images/overview-ipad.png",alt="")