section.purchase
  .holder
    h1 Get Startup Framework
    a.button.show-suscribe(href='#') Purchase for $249
    span
      | PSD + HTML
      b Full Version
      strong
        a(href='http://designmodo.com/startup-license', target='_blank')
          | Commercial
          | License