section#overview.simple-block
  .holder
    h3
      | We have created the product that will help designers, developers
      | and companies to create a website for their startups not spending
      | much time on it.