section#lastBlock-wrapper.lastBlock
  //-
    ul#lastBlockCtrl
      li.menuicon
        span.icn_menu(aria-hidden='true')
      li
        a(data-slide-index='0') Images
      li
        a(data-slide-index='1') Documentation
      li
        a(data-slide-index='2') Showcase
      li
        a(data-slide-index='3') Information
  ul#lastSlider
    li
      section.moreThanImage
        .holder
          .bg
            .pic1.visible
            .pic2
            .pic3
          .cont
            h1 Objetivos claros
            p
              | Nuestros cursos tienen como objetivo prepararte para superar pruebas de nivel oficiales internacionales.
            ul
              li
                h3 Smart Layers
                p
                  | Just put the image with your App screen inside Smart
                  | Layer and get the photo.
              li
                h3 High Resolution
                p
                  | We did a 2.5K size photo that will suit even for a
                  | very large site.
            .anthony
              | Photos for samples are made by
              a(href='http://photo.repponen.com/', target='_blank')
                | Anton
                | Repponen
              | during his travels around the world. Contact
              | him to purchase some photos.
    li
      section.doc
        .holder
          .bg
            div
          .cont
            h1 Documentation
            p
              | Documentation is really important for a developer. Right
              | from it you get to know the product. We tried to describe all
              | the components, provide the set-up instructions and foresee
              | most of the issues you may come across while working with the
              | framework.
            ul
              li
                h3 User Guide
                p
                  | You’ll get a description of each component and learn
                  | how to connect and use them.
              li
                h3
                  | Video Tutorials
                  span.soon Soon
                p
                  | Video tutorials show you how to make a site from
                  | design to code.
    li
      section.showcase
        .holder
          .bg
            .pic1.visible
            .pic2
          .cont
            h1 Showcase
            p
              | Two perfect examples of using framework - Crumbs and
              | Hipsta Food. These guys have a passion for cooking food and
              | they are really a good deal. We’ll be glad to have a look at
              | your projects created on Startup Framework and show them to
              | our users.
            ul
              li
                a(href='http://crumbs.am', target='_blank')
                  img(alt='Crumbs', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/bottomSlider/crumbs.png')
                  b
                    strong Crumbs
                    span.svgIcon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', width='16', height='16', viewbox='0 0 32 32')
                        path(d='M30 0h-16c-1.105 0-2 0.894-2 2v16c0 1.105 0.895 2 2 2h16c1.105 0 2-0.895 2-2v-16c0-1.105-0.895-2-2-2zM28 16h-12v-12h12v12zM16 28h-12v-12h4v-4h-6c-1.105 0-2 0.895-2 2v16c0 1.105 0.894 2 2 2h16c1.105 0 2-0.895 2-2v-6h-4v4z', fill='#eaeaea')
                  span
                    | Fresh food, delicious desserts, artisan breads and
                    | cozy atmosphere. All at one place.
              li
                a(href='http://hipstafood.com/', target='_blank')
                  img(alt='Hipstafood', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/bottomSlider/hipstafood.png')
                  b
                    strong Hipstafood
                    span.svgIcon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', width='16', height='16', viewbox='0 0 32 32')
                        path(d='M30 0h-16c-1.105 0-2 0.894-2 2v16c0 1.105 0.895 2 2 2h16c1.105 0 2-0.895 2-2v-16c0-1.105-0.895-2-2-2zM28 16h-12v-12h12v12zM16 28h-12v-12h4v-4h-6c-1.105 0-2 0.895-2 2v16c0 1.105 0.894 2 2 2h16c1.105 0 2-0.895 2-2v-6h-4v4z', fill='#eaeaea')
                  span
                    | Handy
                    | iPhone App preparing for the launch will show you recipes
                    | and teach you to cook.
    li
      section.info
        .holder
          #subMenuWrapper
            .submenu
              div
              ul#subMenuCtrl
                li
                  span.selected
                    | Technical
                    | Information
                li
                  span Press Release
                li.faq-u
                  span F.A.Q.
            ul#subMenu
              li.active
                .cont
                  h1 Technical Information
                  p
                    | We will be glad to solve your questions. We want to
                    | make our product better and very soon we will release
                    | some cool updates for you.
                  div
                    a.ask(href='https://github.com/designmodo/startup-support/issues', target='_blank') Ask a Question
                  dl.tech-info
                    dt Release Date
                    dd.clearfix December 16, 2013
                    dt Format
                    dd.clearfix PSD, HTML, CSS, JS, LESS
                    dt Size
                    dd.clearfix 637 MB, Zip
                    dt Consists
                    dd.clearfix
                      | Components
                      br
                      | 25 Samples
                      br
                      | Photos
                    dt Bootstrap Version
                    dd.clearfix 2.3.2
                    dt License
                    dd.clearfix
                      a(href='http://designmodo.com/startup-license', target='_blank') Commercial License
                    dt Updates
                    dd.clearfix Free
              li
                .cont
                  h1 Press Release
                  p
                    | In case you’ve decided to write about our project on
                    | your blog you can use this press release. Here you can
                    | find all necessary information about Startup Framework:
                    | project description, images that you can use while
                    | writing articles, and also banners and information
                    | about our affiliate program.
                  p
                    a(href='http://designmodo.com/startup-press-release', target='_blank') Open Press Release
                  div
                    a.ask(href='mailto:info@designmodo.com?subject=Hello!')
                      | Contact
                      | Us
              li
                .cont.faqiframe
                  h1 F.A.Q.
                  object(data='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/faq.html', type='text/html', width='100%')
