section.video
  .fondo-rosa
  #bgVideo.background
  .holder
    .container.centrador
      img.icono(src="images/icono.png",alt="")
      img(src="images/logo.png",alt="")
      //- 
        span.sdf
          strong Startup
          | Design Framework
        a.play(href='https://vimeo.com/designmodo/startup', target='_blank')
          span.fui-play
        span.suys
          strong Suit Up
          | your
          | Startup
      h1 Learn English... Be sexy!
      a.arrow(href='#overview')
        span.icn_arrow(aria-hidden='true')

      
