section.samples
  .details
    .cont
      h1 Twenty Five Awesome Samples
      p
        | The most important part of the Startup Framework is the samples.
        | The samples form a set of 25 usable pages you can use as is or you
        | can add new blocks from UI Kit. By choosing one of the 25
        | configurations of the future startup, the process of creation is
        | simple and easy.
  .holder
    ul
      li.first
        h3 Easy to use
        p
          | To get started, you select the desired sample and base the
          | entire website on it. It’s that simple!
      li.second
        h3 Variety of designs
        p
          | You can decide whether to create your site using UI Kit blocks
          | or samples. The blocks can merge together in various
          | combinations.
      li.third
        h3 Feel our design
        p
          | Samples will show you the feeling on how to play around using
          | the components in the website building process.
    #samples-grid.screenshots
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-1.png')
      .screen.double
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-8.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-22.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-23.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-9.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-17.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-2.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-24.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-10.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-3.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-18.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-25.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-11.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-4.png')
      .screen
        | img
        | src="http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-19.png"
        | alt="" />
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-26.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-12.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-5.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-13.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-27.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-20.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-6.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-21.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-14.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-7.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-15.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-16.png')