div(style='clear: both;')
#content-wrapper
  div(style='clear: both;')
  .articles-container(style='display: none;')
    div
      div(style='clear: both;')
    div(style='clear: both;')
    .comments-wrapper
      h1.startup-comments-title
        | Discussion
        span
          a(href='#respond') Leave a comment
    div(style='clear: both;')