section.samples
  .details
    .cont
      h1 Twenty Five Awesome Samples
      p
        | The most important part of the Startup Framework is the samples.
        | The samples form a set of 25 usable pages you can use as is or you
        | can add new blocks from UI Kit. By choosing one of the 25
        | configurations of the future startup, the process of creation is
        | simple and easy.
  .holder
    ul
      li.first
        h3 Easy to use
        p
          | To get started, you select the desired sample and base the
          | entire website on it. It’s that simple!
      li.second
        h3 Variety of designs
        p
          | You can decide whether to create your site using UI Kit blocks
          | or samples. The blocks can merge together in various
          | combinations.
      li.third
        h3 Feel our design
        p
          | Samples will show you the feeling on how to play around using
          | the components in the website building process.
    #samples-grid.screenshots
      .screen
        img(alt='', src='images/thumbs/01.png')
      .screen.double
        img(alt='', src='images/thumbs/04.png')
      .screen
        img(alt='', src='images/thumbs/02.png')
      .screen
        img(alt='', src='images/thumbs/03.png')
      .screen
        img(alt='', src='images/thumbs/05.png')
      .screen
        img(alt='', src='images/thumbs/06.png')
      .screen
        img(alt='', src='images/thumbs/07.png')