section.demo#especificaciones
  .holder
    .background
      div
    .cont
      h1
        | Demo Version
        span.forksandstars
          iframe(frameborder='0', scrolling='0', src='http://ghbtns.com/github-btn.html?user=designmodo&repo=startup-demo&type=watch&count=true&size=large', style='width: 90px; height: 30px; border: none;')
            iframe(frameborder='0', scrolling='0', src='http://ghbtns.com/github-btn.html?user=designmodo&repo=startup-demo&type=fork&count=true&size=large', style='width: 100px; height: 30px; border: none;')
      p
        | We have created this demo version in order to show you the
        | structure of Startup Framework. It has some of the components from
        | the full version, 2 great samples and documentation. You can also
        | find 2 images of a Macbook and an iPad, which you can use in your
        | project. We hope you will like your first introduction to Startup
        | Framework.
      a.button(href='http://designmodo.github.io/startup-demo', target='_blank')
        | View
        | Demo on Github
      ul
        li
          h2 What is in this Demo?
          p
            strong 11
            | Components
          p
            strong 2
            | Samples
          p
            strong 2
            | Pictures
        li
          h2 What's in the Full Version?
          p
            strong 100
            | Components
          p
            strong 25
            | Samples
          p
            strong 14
            | Pictures
