section.samples#lecciones
  .details
    .cont
      h1 Un aprendizaje emocional
      p
        | Hemos diseñado un plan de estudios que te permitirá aprender y explorar el idioma desde un punto de vista emocional. El juego, la seducción, el intercambio de emociones, son la mejor base para el aprendizaje de un idioma.
  .holder
    ul
      li.first
        h3 Tres niveles de dificultad
        p
          | Good, better, best. Ajustamos las lecciones según tus conocimientos del idioma. 
      li.second
        h3 Objetivos claros
        p
          |  Nuestros cursos tienen como objetivo prepararte para superar pruebas de nivel oficiales internacionales.
      li.third
        h3 +18
        p
          | El contenido de nuestro temario está destinado a adultos, por lo que tienes que tener más de 18 años para participar en Sexy English.
        
    #samples-grid.screenshots
      .screen
        img(alt='', src='images/thumbs/01.png')
      .screen.double
        img(alt='', src='images/thumbs/04.png')
      .screen
        img(alt='', src='images/thumbs/02.png')
      .screen
        img(alt='', src='images/thumbs/03.png')
      .screen
        img(alt='', src='images/thumbs/05.png')
      .screen
        img(alt='', src='images/thumbs/06.png')
      .screen
        img(alt='', src='images/thumbs/07.png')