section.purchase
  .holder
    h1 ¿Quieres solicitar una invitación para Sexy English?
    a.button.show-suscribe(href='#') Suscríbete a nuestra lista de correo
    span
      | y te haremos llegar una invitación
      strong en cuanto hagamos pública la plataforma