section.purchase
  .holder
    h1 Get Startup Framework
    a.button(href='/startup/?add-to-cart=109981') Purchase for $249
    span
      | PSD + HTML
      b Full Version
      strong
        a(href='http://designmodo.com/startup-license', target='_blank')
          | Commercial
          | License