section#overview.simple-block
  .holder
    h1 Hemos revolucionado...
    p.iconos
      i.fa.fa-2x.fa-pencil
      i.fa.fa-2x.fa-tablet
      i.fa.fa-2x.fa-rocket
      i.fa.fa-2x.fa-heart-o
    p En Sexy English nos hemos propuesto revolucionar el modo en que aprendes inglés. En nuestro portal aprenderás de una forma totalmente natural, mientras te relajas y das rienda suelta a tus sentidos, disfrutando de todo aquello que te produce placer.
    .clear-both
  img.ipad-fondo(src="images/overview-ipad.png",alt="")