//-
  section.social
    .holder

section.social
  .holder
    .container
      .soc-item.google
        a(href='https://plus.google.com/110820520056006572902/posts',target='_blank')
          span.name Google +
      .soc-item-holder
        .soc-item.twitter
          a(href='http://twitter.com/sexyenglish_',target='_blank')
            span.name Twitter
        .soc-item.facebook
          a(href='http://facebook.com/sexyenglishlearning',target='_blank')
            span.name Facebook
