section.demo#especificaciones
  .holder
    .background
      div
    .cont
      h1
        | Qué incluirá nuestra demo
      .lista
        p 
          i.fa.fa-check
          | Una lección parcial para cada uno de los tres niveles.
        p 
          i.fa.fa-check
          | Algunos ejercicios de los niveles. Criterios y autocorrección.
        p 
          i.fa.fa-check
          | Diccionario con vocabulario de inicio
        p 
          i.fa.fa-check
          | Prueba de nivel gratuita.
        p 
          i.fa.fa-check
          | Sorteo de 2 skype semanales durante 60 días, entre nuestros alumnos registrados.
        p 
          i.fa.fa-check
          | Chat de consultas y sugerencias
      //-
        a.button(href='http://designmodo.github.io/startup-demo', target='_blank')
          | View
          | Demo on Github
      ul
        li
          h2 Paquete silver
          p
            strong 22
            | lecciones
          p
            strong 2
            | tests de evaluación
          p
            strong 1
            | entrevista personal
        li
          h2 Paquete gold
          p
            strong 22
            | lecciones
          p
            strong 2
            | tests de evaluación
          p
            strong 1
            | test de personalidad en inglés
          p
            strong 1
            | entrevista personal
          p
            strong 2
            | clases por skype/mes
