section.components
  .details
    .cont
      h1 Many Useful Components
      p
        | Startup Design Framework contains components and complex blocks
        | which can easily be integrated into almost any design. All of these
        | components are made in the same style, and can easily be integrated
        | into projects, allowing you to create hundreds of solutions for
        | your future projects.
  .holder
    ul
      li.first
        h3 Responsive Layout
        p
          | Of course we haven’t forgotten about the responsive layout.
          | Create a website with full mobile support.
      li.second
        h3 Clear Grid
        p
          | Components and blocks fixed to common and popular 12 Grid
          | system. It allows you to find understanding between the designer
          | and developer.
      li.third
        h3 Retina Ready
        p
          | Startup Framework works fine on devices supporting Retina
          | Display. Feel the clarity in each pixel.
    #component-grid.screenshots
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-1.png')
      .screen.double
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/awesomeSamples/img-8.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-6.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-8.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-3.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-4.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-7.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-5.png')
      .screen
        img(alt='', src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/usefulComponents/img-9.png')
