section#topSlider-wrapper.features
  //-
    ul#topSliderCtrl
      li
        a(data-slide-index='0') First
      li
        a(data-slide-index='1') Second
      li
        a(data-slide-index='2') Third
  ul#topSlider
    li
      section.first
        .holder
          h1 En tu bolsillo, en tu mano, en tu dormitorio
          p
            | Puedes disfrutar con Sexy English en tu móvil, en tu tablet y en tu ordenador. Lleva Sexy English donde quiera que vayas.
          .item
            img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon1.png')
            h3 Aprendizaje 24/7
            p
              | Cualquier momento puede ser un momento Sexy English.

          .item
            img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon2.png')
            h3 Siempre algo nuevo que descubrir
            p
              | Todos los meses actualizaremos los contenidos con nuevas lecciones, vídeos y estimulantes propuestas.
    //-
      li
        section.second
          .holder
            h1 Ready to Code
            p
              | Each component is coded for web which will sufficiently
              | fasten the process of creating a website.
            .item
              img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon3.png')
              h3 HTML5, CSS3, LESS
              p
                | We used checked-out technologies to give the best
                | results.
            .item
              img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon4.png')
              h3 Based on Bootstrap
              p
                | HTML layout is based on one of the common and reliable
                | frameworks at this time - Bootstrap v 2.3.2.
  
      li
        section.third
          .holder
            h1 Perfect for Startups
            p
              | Startup Framework will help you to find an awesome form for
              | your startup project in a short time.
            .item
              img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon5.png')
              h3 Save Your Time
              p
                | Use your time for generating new ideas for your startup.
                | Take a break from the routine.
            .item
              img.icon(src='http://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon6.png')
              h3 Money Economy
              p
                | Startups can save money on design and code and spend it on
                | concept and functionality.
