section.content-13.subscribe-form.bg-turquoise
    .container
        .row
          form#mc-embedded-subscribe-form.validate(action='http://bueninvento.us3.list-manage1.com/subscribe/post?u=3810f0a3c717bec4b2463d73a&id=384d876672', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
            .span8.mc-field-group
              input#theinput(type='text', placeholder='Introduce tu email', spellcheck='false', name='EMAIL')
            #mce-responses.clear
              #mce-error-response.response(style='display: none;')
              #mce-success-response.response(style='display: none;')
            div(style='position: absolute; left: -5000px;')
              input(type='text', name='b_3810f0a3c717bec4b2463d73a_384d876672', value='')
            .span4
              button.btn.btn-large.btn-primary(type='submit', name='subscribe')
                | Suscríbete
              .btn.btn-large.btn-primary.btn-marron.no-thanks
                | No, gracias
