.container.section-01
  .row
    .col-md-6.col-stretch
      .brand.from-left
        img.icono.display-block.centered(src="static/img/icono2.png",width="60",alt="")
        img.display-block.centered(src="static/img/logo.png",width="350",alt="")
      .contenido.from-alpha
        h3.font Un método de aprendizaje innovador
        p.font La sensualidad, la sexualidad, las relaciones humanas, el autoconocimiento, la diversión. Todo aquello que te complace está lleno de riquezas a explorar ¿Por qué no hacerlo en inglés?
        p.font Si quieres aprender y mejorar tu inglés, Sexy English es un innovador método de aprendizaje con el que aprenderás, te divertirás y comprobarás tus avances.
        .btn.btn-claro.btn-large Quiero saber más
    .col-md-6.col-stretch
      .hover-scape.from-right
        img.img-ipad(src="static/img/img-ipad.png",alt="")
        img.img-iphone(src="static/img/img-iphone.png",alt="")
