!!! 5
html(lang="es")
  head
    - include 'views/phtml/includes/header.phtml'
  body
    - include 'views/phtml/includes/head.phtml'
    
    - include 'views/phtml/pages/home/modals/suscribed.phtml'
    
    #div_demo

    - include 'views/phtml/includes/footer.phtml'
    
    
    