!!! 5
html(lang="es")
  head
    - include 'views/phtml/includes/header.phtml'
  body
    - include 'views/phtml/includes/head.phtml'
    
    - include 'views/phtml/pages/home/modals/suscribed.phtml'
    
    - include 'views/phtml/pages/home/slide-01/index.phtml'
    - include 'views/phtml/pages/home/slide-02/index.phtml'
    - include 'views/phtml/pages/home/slide-03/index.phtml'
    - include 'views/phtml/pages/home/slide-04/index.phtml'
    - include 'views/phtml/pages/home/slide-05/index.phtml'
    - include 'views/phtml/pages/home/slide-06/index.phtml'

    - include 'views/phtml/includes/footer.phtml'
    
    
    