#skrollr-body

header.navbar.navbar-fixed-top.bs-docs-nav(role='banner',data-0="background-color:rgba(0,0,0,0)",data-250="background-color:rgba(0,0,0,.15)")
  .container
    .navbar-header
      a.navbar-brand(href='./',data-0="opacity:0",data-250="opacity:1")
        img.icono.hidden-xs(src="static/img/icono2.png",width="30",alt="")
        img.hidden-xs(src="static/img/logo.png",height="50",alt="")
    nav(role='navigation')
      //-
        ul.nav.navbar-nav
          li
            a(href='./getting-started')
      ul.nav.navbar-nav.navbar-right
        li.hidden-xs
          a.btn.btn-alpha(href='./about') Suscríbete
        li.hidden-xs
          a.btn.btn-alpha(href='./about') Síguenos en Facebook
