.container
  .row
    .col-md-6
      p Sexy English solo es para adultos mayores de 18 años.

      p Aquí podrás acceder al contenido de las lecciones y demás contenido mediante nombre de usuari@ y contraseña en cuanto las colguemos en la web.
      p Niveles:
      p Basic - Lessons 1-22
      p Better - Lessons 23-44
      p Best - Lessons 45-66
      p Diccionario Sexy
      p Nuestros Cuentos
      p Tus Cuentos
      p Consultas para usuari@s
      p  
      p Mientras tanto, ¿quieres saber el temario? Estos son alguno de los temas o entornos en los que vamos a trabajar en inglés:
      p Aphrodisiacs	How to Excite your Partner	Sex and Colours
      p Beauty in Unknown Places	Hygiene	Sex and Music
      p Body Language	Imperatives	Sex Toys
      p Brain Power	Infidelity	Skin Power
      p Candles	Kisses and Kissing	Smiling
      p Chimes, Bells and Singing bowls	Lingerie	Stripping and Nudity
      p Clothing	Love Songs and Lyrics	Toxic Men
      p Costumes and Dressing Up	Man Hunting	Toxic Women
      p Dancing	Massages	Tupper Sex
      p Dining and Table Laying	Multiorgasms	Voice Seduction
      p Dirty vs Elegant Phrasing	Natural Seduction	What Men Don't Like
      p Exciting Places	Odours and Perfumes	What Men Like
      p Exciting Romantic Getaways	Packing a Weekend Suitcase	Wining
      p Faking and Frigidity	Personality Testing	Women Talking About Men
      p First Time with Someone New	Pillow Talk	What's in Women's Handbags?
      p Flowers & Flower Language	Positions	 
      p Food for Good/Bad Sex	Self-Pleasuring	 
      .btn.boton.btn-claro Quiero saber más
    .col-md-6
      .hover-scape
        img.img-iphone(src="static/img/img-iphone.png",alt="")
        img.img-ipad(src="static/img/img-ipad.png",alt="")